/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2014, 12:46:05 PM
    Author     : TryCatch
*/
/*@import url('../fonts/Quark/quark.css');*/

.header_menu{
    padding: 10px 0px;
    background: url('../image/bg_02.jpg');
}

.menu_blue li.element_menu{
    float: right;
    font-size: 18px;
}

.menu_blue li.element_menu>a{
    color: #fff;
}

.menu_blue li.open.element_menu>a, .menu_blue li.element_menu>a:hover{
    //color: #336699;
    background-color: #336699;
}

.txt_left{
    text-align: left !important;
}

.txt_right{
    text-align: right !important;
}

.margin_bottom_0{
    margin-bottom: 0px;
}

body{
    //background: url('../image/bg.jpg') no-repeat top center;
}

.quark_light{
    font-family: "quarklight";
}

.quark_bold{
    font-family: "quarkbold";
}

.gray{
    color: #666;
}

.light_blue{
    color: #6699cc;
}

.combodate{

}

.combodate select, .trycatch select{
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    border: 1px solid #cccccc;

    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}