/* 
    Document   : trycatch_admin
    Created on : Oct 21, 2013, 9:25:50 PM
    Author     : Trycatch(TM) Chiangmai
    Description:
        Purpose of the stylesheet follows.
*/

@import url('general_operation.css');

root { 
    display: block;
}

#login_block{
    box-shadow: 0px 0px 5px #999;
    border-radius: 4px;
    margin-top: 80px;
}

.tab-pane .inside_modal{
    height: 400px;
}

.media-tank{
    overflow-y: auto;
    height: 385px;
    margin-top: 15px;
}

a.box-gallery{
    display: block;
    width: 100%;
    background-position: center;
}

.height_enclose{
    background-size: auto 100%;
}

.width_enclose{
    background-size: 100% auto;
}

.media-lib-block{
    width:106px; 
    height: 106px; 
    float: left; 
    margin: 0px 10px 10px 0px;
}

.media-lib-block .filter_media_block i{
    opacity: 0;
}

.media-lib-block .filter_media_block{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.media-lib-block.selected{
    position: relative;
}

.media-lib-block.selected .filter_media_block{
    background-color: rgba(255,0,0,0.4);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    border-radius: 3px;
    z-index: 1;
}

.media-lib-block.selected .filter_media_block i{
    margin: auto;
    font-size: 42px;
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 43px;
    height: 50px;
}

.media-lib-block.selected a{
    position: relative;
    z-index: 0;
}

.thumbnail_mini_media_block{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 5px 5px 0px;
    display: inline-block;
}

.table-cover{
    /*border: 1px solid #ccc;*/
    margin-top: 5px;
    /*border-radius: 4px;*/
}

.table-cover table{
    margin: 5px 0px;
    border-collapse: separate;
}

.table-cover table thead th{
    border-bottom: 1px solid;
    padding: 11px 5px;
}

.table-cover table tfoot th{
    border-top: 1px solid;
}

.table-cover table tbody td:first-of-type{
    padding: 13px;
}

.table-padding tbody td, .table-padding th{
    padding: 13px !important;
}

.table-padding thead th{
    padding-bottom: 5px !important;
}

.table-padding tfoot th{
    padding-top: 5px !important;
}

#filter_all_post{
    margin-left: 14px;
    margin-top: 15px;
}

.info_level ul{
    margin: 0px;    
}

.ui-sortable-placeholder{
    background-color: #99ccff;
    width: 100%;
    visibility: visible !important;
    border-radius: 3px;
    border: 1px solid #3366cc;
}

._sub-menu{
    display: none; 
}

.sub-menu_lv1{
    margin-left: 30px !important;
}

.sub-menu_lv2{
    margin-left: 60px !important;
}

.sub-menu_lv1 ._sub-menu, .sub-menu_lv2 ._sub-menu{
    display: inline;
}

.sortable{
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.sortable li{
    list-style-type: none;
}

.form_menu_config{
    font-size: 14px;
}

.form_menu_config label{
    line-height: 18px;
}

.caret.caret_menu_cutom{
    margin-top: 6px;
}

.cover_list_menu{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0px 5px;
    overflow-y: auto;
    max-height: 231px;
    margin-bottom: 10px;
    border-radius: 3px;
}

a.each_widget, a.each_elemet_widget{
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
    padding: 10px;
    margin-bottom: 5px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    text-decoration: none;
}

a.each_widget:hover, a.each_elemet_widget:hover{
    color: #428bca;
}

.panel_list{
    max-height: 400px;
    overflow-y: auto;
}

.notice_widget{
    margin: 0px;
}

ul.installed_widget{
    margin: 0px;
    padding: 0px;
}

ul.installed_widget li{
    list-style: none;
}

ul#upload_queue{
    padding: 0px;
}

ul#upload_queue li{
    list-style: none;
}

ul.progress_each_file{
    padding: 0px;
}

.datepicker table.table-condensed{
    margin: 0px auto;
}